<!DOCTYPE html>
<html>
<head>
  <title>Test1</title>
  <%= stylesheet_link_tag :all %>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.dynamicForm.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.pagedDialog.js"></script>
  <link href="http://hoptopus.com/stylesheets/jquery-ui-1.8.9.custom.css?1300819809" media="screen" rel="stylesheet" type="text/css" />
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
