<!DOCTYPE html>
<html>
<head>
  <title>Test1</title>
  <%= stylesheet_link_tag :all %>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.dynamicForm.js"></script>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
