<%= form_tag(test_models_path, { :method => 'put' }) do %>
  <% @test_models.each do |test_model| %>
    <div class="edit form">
      <%= render 'test_models/multiple_edit_form', :form_element_prefix => "test_models[#{test_model.id}]", :test_model => test_model, :include_submit => false %>
    </div>
  <% end %>
<% end %>