<h1>New test_model</h1>

<ul class="errors"></ul>
<%= render 'form' %>

<script type="text/javascript">
	function success(data, request, status) {
		alert('yay! successfully created!');
	}
	
	function error() {
		//alert('boo hoo.');
	}
	
	$('#new_test_model').dynamicForm({ success: success, error: error, errorListSelector: "ul.errors" });
</script>


<%= link_to 'Back', test_models_path %>
